/* #6B7A8F (gris) */
/* #F7882F (naranja) */
/* #f7C331 (amarillo) */
/* #DCC7AA (beige) */

/* Estilos generales  */
body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Barra de navegacion */

.navbar {
  padding: 1rem;
  border: 4px solid #f7882f; 
}

.navbar img {
  border-radius: 50%;
}
/* .navbar-collapse {
  align-items: center;
  justify-content: flex-end;  
} */

a.dropdown-item {
  font-size: 1.5rem;
}

/* Seccion principal  */

.contenedor-posicion{
  position: relative;
}
.img-main {
  padding: 0px;
}
.superpuesto {
  position: absolute;
  z-index: 100;
  top: 10%;
}
.texto-claro {
  color: whitesmoke;
}
.presentacion {
  max-width: 500px;
  text-align: center;
}
.presentacion h1 {
  font-size: 6rem;
}
.presentacion h2 {
  font-size: 4rem;
}